<html>
<p>{{call "avatar.displayName"}} {{call "message.goingText" language}} <a href="{{call 'stream.url'}}">{{stream.fields.title}}</a></p>
<hr>
<p>{{notifications.IfUnsubscribe}}, <a href="{{baseUrl}}/Streams/participating">{{notifications.ManageEmailSubscriptions}}</a></p>
</html>
